AWS_REGION=us-east-1
TABLE_NAME=codehawks-dev
AUTH_PROVIDER=entra
ENTRA_TENANT_ID=b8e6c58e-d6fa-4f4a-968c-d4be658dfe8e
ENTRA_API_CLIENT_ID=00000000-0000-0000-0000-000000000000
# Used instead of the Entra values when AUTH_PROVIDER=cognito:
# COGNITO_CLIENT_ID=00000000000000000000000000
# COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_example
ALLOWED_EMAIL_DOMAIN=ung.edu
LOG_LEVEL=debug
MEDIA_BUCKET_NAME=codehawks-dev-media-example
MEDIA_PUBLIC_BASE_URL=https://example.cloudfront.net
NEWSLETTER_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/codehawks-dev-newsletters
EMAIL_FROM_ADDRESS=CodeHawks <noreply@codehawks.org>
EMAIL_REPLY_TO_ADDRESS=officers@codehawks.org
SES_CONFIGURATION_SET_NAME=codehawks-dev
